body{background:#0a0f1e;color:white;text-align:center;font-family:Arial}
header{background:#1f2a44;padding:30px}
#videos iframe{margin:10px}
.course{background:#1f2a44;margin:20px;padding:20px}
button{padding:10px;background:green;color:white;border:none}
